/* -- FOUNDATION -- */
@import 'partials/settings';

@import 'foundation/components/grid';
@import 'foundation/components/visibility';
@import 'foundation/components/type';
@import 'foundation/components/block-grid';
@import 'foundation/components/forms';
@import 'foundation/components/sub-nav';
@import 'foundation/components/alert-boxes';

$headerMargin: 5% auto;
$spaceMargin: 3%;
$border-color: #ccc;

html{
  font-size: 14px;
}

body{
  background-color: #fff;
}

h1{
  color: #777;
}

img{
  box-shadow: none;
  opacity: 1;
  &:hover{
    opacity: .9;
  }
}

.header-container{
  margin: $headerMargin;
  @media #{$medium-up}{
    border-top: 1px dashed $border-color;
  };
}

.header-info{
  margin: 3% 0 auto 5%;
  font-size: .9rem;
  color: #999;
  border-left: 1px dashed $border-color;
}

.header-title{
  margin: 3% auto;
  font-size: 5rem;
  font-weight: bold;
  @media #{$small-only}{
    font-size: 4.5rem;
    margin: $spaceMargin;
  }
}

.spacer{
  margin: 2%;
  border-top: 1px dashed $border-color;
}

.image-listings{
  @media #{$medium-up}{
    min-height: 17em;
    max-height: 17em;
    min-width: 100%;
  }
}

.image-container{
  @media #{$small-only}{
    margin: $spaceMargin;
  }
}

.image-info{
  margin-top: 5%;
  font-size: .9rem;
  color: #999;
}

.end-listing{
  margin-bottom: 5%;
}

.single-detail{
  @media #{$small-only}{
    margin-left: 5%;
    margin-right: 5%;
  }
}

.single-info{
  margin: 2% 2% 2% 0;
  font-size: 1.1rem;
  font-weight: bold;
  color: #bbb;
}

.single-details{
  margin-top: 5%;
  font-size: .9rem;
  color: #777;
}

.edit-info{
  margin-top: 5%;
}

.edit-button{
  margin-top: 5%;
}

.sidebar-info{
  margin-top: 5%;
  font-size: .9rem;
  font-weight: bold;
  color: #bbb;
}

.sidebar-container{
  margin: 2%;
}