/* -- FOUNDATION -- */
@import 'partials/settings';

@import 'foundation/components/grid';
@import 'foundation/components/visibility';
@import 'foundation/components/type';
@import 'foundation/components/block-grid';

$headerMargin: 5% auto;
$spaceMargin: 3%;
$border-color: #ccc;

html{
  font-size: 14px;
}

body{
  background-color: #fff;
}

h1{
  color: #777;
}

.header-container{
  margin: $headerMargin;
  @media #{$medium-up}{
    border-top: 1px dashed $border-color;
  };
}

.header-info{
  margin: $headerMargin;
  font-size: .9rem;
  color: #999;
  border-left: 1px dashed $border-color;
}

.header-title{
  margin: 3% auto;
  font-size: 5rem;
  font-weight: bold;
  @media #{$small-only}{
    font-size: 4.5rem;
    margin: $spaceMargin;
  }
}

.spacer{
  margin: 2%;
  border-top: 1px dashed $border-color;
}

.image-other{
  @media #{$medium-up}{
    min-height: 17em;
    max-height: 17em;
    min-width: 100%;
  }
}

.image-container{
  @media #{$small-only}{
    margin: $spaceMargin;
  }
}

.end-listing{
  margin-bottom: 5%;
}