- for (var j = i; j < 3+i; j++)
  .small-12.medium-4.columns
    .image-container
      a(href='/gallery/'+listings[j].id)
        img.image-listings(src= listings[j].picture)
      div.image-info=listings[j].description + ' - ' +  listings[j].link
