div.row.header-container
  div.small-12.medium-7.columns
    h1.header-title.small-text-center.medium-text-left _ARCHITEKT
  div.show-for-medium-up.medium-5.columns
    div.header-info.text-right.
      Welcome to our online portfolio, we are small group
      of passionate designers and architects, looking to
      change and create amazing digital images to inspire
      others to follow in our innovate steps. Free Architect
      WordPress Theme