doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(link rel="stylesheet" href="/css/styles.css")
    title Express Gallery
  body
    block content
    script(src="public/js/vendor/modernizer.js")
    script(src="public/js/vendor/jquery.js")
    script(src="public/js/foundation.min.js")