extends ./layouts/mainLayout
include ./mixins/generateSingle

block content
  .row
    .large-12.columns
      +generateSingle(detail)
      form(action="/gallery/#{id}/edit" method="POST" enctype="application/x-www-form-urlencoded")
        .large-6.large-offset-3.columns.edit-info
          label Picture URL
            input(type="text" name="url" placeholder="...")
          label Short Description
            input(type="text" name="shortDesc" placeholder="...")
          label Official Link
            input(type="text" name="link" placeholder="...")
          label Long Description
            textarea(type="text" name="longDesc" placeholder="...")
          button SAVE
            input(type="hidden" name="_method" value="PUT")
