extends ./layouts/mainLayout
include ./mixins/generateListings

block content
  include ./partials/_postnav
  .row
    .large-12.columns
      a(href="/gallery/pic04")
        img.image-masthead(src="http://demo.mountainthemes.com/14/wp-content/uploads/2015/05/Architecture_HD_wallpaper_a004.jpg")
    .large-12.columns.end-listing
      +generateListings(listings)