extends ./layouts/mainLayout

block content
    form(action="/gallery" method="POST")
      .row
        .large-6.large-offset-3.columns
          label Picture URL
            input(type="text" name="url" placeholder="...")
          label Short Description
            input(type="text" name="short" placeholder="...")
          label Official Link
            input(type="text" name="link" placeholder="...")
          label ID
            input(type="text" name="id" placeholder="...")
          label Long Description
            textarea(type="text" name="long" placeholder="...")
          button POST