extends ./layouts/mainLayout

block content
    form
    .row
      .large-6.large-offset-3.columns
        label Picture URL
          input.picture-input(type="text" placeholder="...")
        label Short Description
          input.short-input(type="text" placeholder="...")
        label Official Link
          input.official-input(type="text" placeholder="...")
        label Long Description
          textarea.long-input(type="text" placeholder="...")
        a.button.radius(href="#") POST