extends ./layouts/mainLayout
include ./mixins/generateSidebar

block content
  .row
    .medium-8.columns
      .single-detail
        .single-info=detail.description + ' - ' + detail.link
        img.image-masthead(src=detail.picture)
    .medium-4.columns
      +generateSidebar(listings)
    .large-12.columns
      .spacer