extends ./layouts/mainLayout
include ./mixins/generateSidebar
include ./mixins/generateSingle

block content
  include ./partials/_postnav
  .row
    .medium-8.columns
      +generateSingle(description)
    .medium-4.columns
      +generateSidebar(listings)
    .large-12.columns
      .spacer