mixin generateListings(listings)
  ul.medium-block-grid-3(data-equalizer='')
    each listing in listings
        li
          div(data-equalizer-watch='')
            img.image.image-other(src= listing)