mixin generateSidebar(listings)
  .row.show-for-medium-up
    - for (var i = 0; i < 3; i++)
      .medium-12.columns
        .sidebar-container
          a(href='/gallery/'+listings[i].id)
            img.image-listings(src= listings[i].picture)
          div.sidebar-info=listings[i].description + ' - ' +  listings[i].link