mixin generateListings(listings)
  - for (var i = 0; i < listings.length; i += 3)
    if (i >= 3)
      .row.show-for-medium-up
        include ./../partials/_listing
      .spacer.show-for-medium-up
    else
      .row
        include ./../partials/_listing
      .spacer